<div class="text-center">
  <h1><%= @startup.name %></h1>
  <p><%= @startup.description %></p>
  <div class="container">
    <div class="row">
    <div class="col-xs-4">
      <div class="show-box">
        <h2>Description</h2>
      </div>
    </div>
      <div class="col-xs-4">
        <div class="show-box">
          <h2>Founders</h2>
          <% @startup.founders.each do |founder| %>
          <h2>founder.name</h2>
          <p>founder.email</p>
          <p>founder.phone</p>
          <% end %>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="show-box">
          <h2>VC firms they raised with</h2>
            <% @startup.vc_firms.each do  |vc| %>
            <p> <%= link_to vc.name, vc_firm_path(vc) %> </p>
            <% end %>
        </div>

      </div>
      </div>
    </div>
  </div>
</div>
