<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('background.png')%> );">
  <div class="banner-content">
    <h1>ICEBERG</h1>
    <p>Brisez la glace. Découvrez les meilleurs VCs de France.</p>
    <a href="/vc_firms" class="btn btn-treehouse">Découvrir la liste</a>
  </div>
</div>
